<div class="main-banner">
</div>

<div class="central-container">
    <img src="../../../assets/logo.png" alt="">

<div class="submit-user-container">
    <h2 class="title">Create your workspace</h2>
    <form action="" class="form-signup">
        <input type="text" placeholder="Put your username here, max 50" maxlength="50">
        <input type="email" placeholder="Put your e-mail here">
        <input type="password" placeholder="Put your password here">
        <app-button textButton="Sign-Up"></app-button>
    </form>
    <p>By signing up you agree to our <span><a href="">Terms of Service</a></span> and <span><a href="">Data processing agreement</a></span></p>
</div>
</div>