.main-banner-message{
    margin-top:30px ;
    margin-bottom:0px ;
    height: 750px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 50px;
    width: 850px;
}

.main-banner-sub-message .button{
    margin: 25px 30px;
    padding: 10px 25px;
    font-size: 12px;
    background-color: var(--bg-main);
    color: var(--text-title);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--border);
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.35s;

    &:hover{
        font-size: 15px;
        border-bottom: 1px solid white;
    }
}

.main-banner{
    width: 100%;
    height: 300px;
    background: 
    linear-gradient(
        to top, var(--bg-main), var(--bg-main), rgb(0,0,0,0), var(--bg-main)
    ),
    url(../../../assets/space.jpg);
    background-size: cover;
    background-position: center;
}

.overlay-button-container{
    background-color: var(--bg-section-blur);
    height: 250px;
    width: 800px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: 0.35s;
}

.overlay-button-container:hover{
    opacity: 1;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 40px var(--bg-section);
}

.primary-button{
    padding: 10px 25px;
    font-size: 12px;
    background: linear-gradient(to top,  var(--primary-dark),  var(--primary));
    color: var(--text-title);
    border: 1px solid var(--border);
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.35s;

    &:hover{
        transform: scale(1.1);
        border: 1px solid white;
    }

}

.costumers{
    background-color: var(--bg-section);
    height: 250px;
    width: 800px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    img{
    filter: brightness(0) invert(1)  ;
    margin: 0px 10px;
    width: 120px;
    padding: 25px;
    }
}


.overlay-wrapper{
    width: 800px;
    height: 250px;
}

.central-container{
    margin: 30px 0px;
    margin-bottom:30px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;

    h3{
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p{
        margin-bottom: 35px;
        margin-top: 0px;
    }
}
