<app-menu></app-menu>

<div class="main-banner-message">
    <h1 class="title">Midnight Club is a purpose-built tool for planning and building products</h1>
    <p class="subtitle">Meet The system for modern software development. Streamline issues, projects, and product roadmaps</p>
    <div class="main-banner-sub-message">
        <app-button textButton="Start Building"></app-button>
        <button class="button">New: Linear Reviews (beta)</button>
    </div>
</div>

<!-- Div - Image -->
<div class="main-banner">
</div>

    <div></div>

<!-- Costumers -->

<div class="central-container">
        <h3>Powering the world's best product teams.</h3>
    <p>From next-gen startups to established enterprise.</p>

    <div class="overlay-wrapper">
        <div class="overlay-button-container">
            <button class="primary-button">Click here to see our costumers</button>
        </div>
        <div class="costumers">
            <!-- OpenAi -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/OpenAI_Logo.svg/3840px-OpenAI_Logo.svg.png" alt="">
            <!-- Vercel -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Vercel_logo_2025.svg" alt="">
            <!-- Coinbase -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Coinbase.svg/1280px-Coinbase.svg.png" alt="">
            <!-- Scale -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Scale_AI.svg" alt="">
        </div>
    </div>

</div>

<div>
    <p>spaaace</p>
</div>

