<!-- @defer () { -->

<!-- <div class="overlay"></div>

<div class=""></div> -->

    <div class="navegation-menu">
    <ul>
        <img src="../../../assets/logo.png" class="logo" (click)="goHome()">
        <li>Products <span><mat-icon>south</mat-icon></span></li>
        <li>Resources <span><mat-icon>south</mat-icon></span></li>
        <li>Solutions <span><mat-icon>south</mat-icon></span></li>
        <li>Enterprise</li>
        <li>Pricing</li>
    </ul>
    <ul>
        <li>Contact</li>
        <li class="settings">Settings ⚙️</li>
        <app-button textButton="Login" (click)="goLogin()"></app-button>
    </ul>
</div>


<!-- } @placeholder (minimum 2000ms) {
    Carregando menu
} -->