.navegation-menu{
    position: fixed;
    backdrop-filter: blur(2px);
    width: 95%;
    background: linear-gradient(to top, rgb(26, 22, 37, 0.5), rgb(18, 16, 26, 0.5));
    padding: 10px 25px;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
    border: 1px solid var(--border);
    border-radius: 20px;
    }

.logo{
    cursor: pointer;
    width: 50px;
    margin-right:30px;
    transition: 0.35s ease;


    &:hover{
        transform: scale(1.1);
    }
}

ul{
    display: flex;
    align-items: center;
    flex-direction: row;
}

li{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0px 15px;
    padding: 5px 10px;
    list-style: none;
    font-weight: 800;
    transition: 0.35s ease;
    font-size: 15px;

    &:hover{
        border-bottom: 1px solid white;
        padding: 5px 12px;
        font-size: 15px;
    }
}